header{
    max-width: 1600px;
    margin:0 auto;
}

.container-banner{
    width: 1320px;
    height: 600px;
   background-image: url('resources/BannerImage.png');
 
   border-radius: 16px;
   margin: 0 140px;

}
.happy {
    color: #FFF;

text-align: center;
font-family: Merriweather;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-top: 150px;


}
.party {
    color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px; /* 131.944% */
padding: 0 344px;
margin: 0;

}
.deals {
    padding: 100px;
    text-align: center;
}
.discount {
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.better-deal {
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.categories {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.container-night-party {
    width: 1320px;
    height: 600px;
   background-image: url('resources/Vectorrr.png');
 
   border-radius: 16px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
}
.container-text {
    margin-left: 126px;
 padding-top: 126px;
 width: 600px;
}
.night-party {
    color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px; /* 137.5% */
letter-spacing: 7.04px;
}
.party-text {
    color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
.party-join {
    background-color: #070211;
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}
.year2024 {
    width: 320px;
    height: 460px;
   padding-top: 60px;
   padding-right: 140px;
}

