header{
    max-width: 1600px;
    margin:0 auto;
}

.banner-image{
    width: 1320px;
    height: 600px;
   background-image: url('resources/BannerImage.png');

   border-radius: 16px;
   margin: 0 auto;


}
.happy {
    color: #FFF;

text-align: center;
font-family: Merriweather;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-top: 150px;


}
.party {
    color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px; /* 131.944% */
padding: 0 344px;
margin: 0;

}
.deals {
    padding: 100px;
    text-align: center;
}
.discount {
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.better-deal {
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.categories {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.container-night-party {
    width: 1320px;
    height: 600px;
   background-image: url('resources/Vectorrr.png');
 
   border-radius: 16px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
}
.container-text {
    margin-left: 126px;
 padding-top: 126px;
 width: 600px;
}
.night-party {
    color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px; /* 137.5% */
letter-spacing: 7.04px;
}
.party-text {
    color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
.party-join {
    background-color: #070211;
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
border-radius: 8px;
}
.year2024 {
    width: 320px;
    height: 460px;
   padding-top: 60px;
   padding-right: 140px;
}
.party-place {
    width: 1320px;
    height: 600px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 16px;
   margin: 0 auto;

    color: black;
text-align: center;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px; /* 175% */
text-transform: capitalize;
}

.party-place-text {
    margin-top: 50px;
    padding-top: 100px;
}
.place-text {
    color: #F00;
}
.date-text {
    color: #F00;
}
.time-text {
    color: #F00;
}
.place-join {
    background-color: red;
    color: #FFF;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
border-radius: 8px;
}
.sale {
    margin-top: 50px;
    padding-top: 100px;
padding-left: 460px;
padding-right: 460px;
text-align: center;
}
.func {
    color: #070211;

font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.sale50 {
    color: #070211;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: normal;
}
.holiday {
    color: #F00;

text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: normal;
}
.sale-des {
    color: rgba(7, 2, 17, 0.60);

text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 32px; /* 160% */
}
.gift {
    width: 1320px;
    margin: 120px auto;    
}
.best-gift {
    color: #F00;

font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.portfolio {
    color: #070211;

font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
.gift-des {
    color: rgba(7, 2, 17, 0.60);

font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
}
.image{
    margin: 50px auto;
    padding-left: 240px;
}
.image img{
    width: 420px;
    height: 460px;
    margin: 24px;
}
.submit-form {
    width: 1320px;
    height: 600px;
    margin: 120px auto;
    border-radius: 16px;
background: rgba(255, 0, 0, 0.05);

}
.submit-content {
    padding-top: 80px;
padding-left: 400px;
padding-right: 400px;
text-align: center;
}
.subscribe {
    color: #070211;

text-align: center;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
.sub-des {
    color: rgba(7, 2, 17, 0.60);

text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
}
.form {
    border-radius: 50px;
background: #FFF;
width: 395px;
height: 50px;
display: flex;
margin: 0 auto;
padding-left: 120px;
}
.btn {
    width: 210px;
    height: 50px;
    border-radius: 0px 50px 50px 0px;
    border-color: red;
background: #F00;
color: #FFF;
justify-content: space-between;
}
.address-main {
    display: flex;
    justify-content: space-between;
}
footer{

    background-color: #070211;
}
.address {
    padding-top: 120px;
    padding-left: 140px;
    color: #FFF;
}
.web-phone {
    padding-top: 120px;
    padding-right: 275px;
    color: #FFF;
}
.call {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.call img {
    padding-left: 10px;
    width: 24px;
    height: 24px;
}
.website {
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.website img{
    margin: 10px;
    width: 24px;
    height: 24px;
}
.social-links {
    padding-top: 50px;
    padding-left: 640px;
    margin: 0 auto;
    justify-content: space-between;
}
.social-links a img{
    margin: 50px;
}
.legal-sub {
    padding-top: 120px;
    padding-left: 140px;
    color: #FFF;
    display: flex;
    justify-content: space-around;
    padding-bottom: 120px;

}